@page
@model MP133.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kontaktdaten</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mitarbeiter.Vorname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mitarbeiter.Vorname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mitarbeiter.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mitarbeiter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mitarbeiter.Strasse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mitarbeiter.Strasse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mitarbeiter.Nr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mitarbeiter.Nr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mitarbeiter.PLZ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mitarbeiter.PLZ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mitarbeiter.Ort)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mitarbeiter.Ort)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mitarbeiter.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mitarbeiter.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mitarbeiter.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mitarbeiter.Telefon)
        </dd>
    </dl>
</div>
<div class="form-group-buttons">
<a asp-page="./Edit" asp-route-id="@Model.Mitarbeiter?.Id" 
class="btn btn-primary">Bearbeiten</a>|
    <a asp-page="./Index" style=" text-decoration: none;">Zurück zur Liste</a>
</div>

